<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading mg-bt-12">
                    <h1 class="heading text-center">Admin Managment</h1>
                </div>
            </div>
        </div>
    </div>                    
</section>
<section class="tf-activity s1 tf-section">
    <div class="themesflat-container">
        <button data-toggle="modal" data-target="#exampleModal1"><i class="fas fa-plus"> Add </i></button>
        <br><br><br><br>
        <div class="row">
            <div class="col-lg col-md col-12">
                <div class="sc-card-activity">
                    <div class="content">
                        <div class="infor">
                            <h3>Admin name</h3>
                            <div class="status">Nassima EL JAZOULI</div>
                        </div>
                    </div>
                    <button data-toggle="modal" data-target="#exampleModal2"><i class="active far fa-edit"> Edit</i></button>
                    <button><i class="fas fa-trash"></i> Remove</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Add Modal  -->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="flat-form box-login-email">
        <br><br>
        <div class="form-inner">
            <form action="#" id="contactform" name="form" #f="ngForm" novalidate>
                <input id="addcategory" name="addcategory" tabindex="1" value="" aria-required="true" required type="text" placeholder="Your Userame">
                <br>
                
                
            </form>
        </div>
        
    </div>

      <div class="modal-footer">
        <button id="closeButton" data-dismiss="modal">
          Close
        </button>
        <button class="submit">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal  -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="flat-form box-login-email">
        <br><br>
        <div class="form-inner">
            <form action="#" id="contactform" name="form" #f="ngForm" novalidate>
                <input id="editcategory" name="editcategory" tabindex="1" value="" aria-required="true" required type="text" placeholder="Your Userame">
                <br>
                
                
            </form>
        </div>
        
    </div>

      <div class="modal-footer">
        <button id="closeButton" data-dismiss="modal">
          Close
        </button>
        <button class="submit">Save changes</button>
      </div>
    </div>
  </div>
</div>