<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading mg-bt-12">
                    <h1 class="heading text-center">Connect Wallet</h1>
                </div>
                <div class="breadcrumbs style2">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li>Connect Wallet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                    
</section>

<div class="tf-connect-wallet tf-section">
             <div class="themesflat-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tf-title-heading ct style-2 mg-bt-12">
                            Connect Your Wallet
                        </h2>
                        <h5 class="sub-title ct style-1 pad-400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.
                        </h5>
                                <div class="sc-box-icon-inner style-2 row">
                                    <div class="col-4"></div>
                                    <div class="sc-box-icon col-4">
                                        <div class="img">
                                            <img src="../../assets/images/icon/icon-1.png" alt="Image">
                                        </div>
                                        <h4 class="heading"><a routerLink="/login">Meta Mask</a> </h4>
                                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                    </div>
                    
                </div>              
            </div>
</div>
