<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading mg-bt-12">
                    <h1 class="heading text-center">Transactions</h1>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li>Transactions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                    
</section>
<section class="tf-activity s1 tf-section">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-lg col-md col-12">
                <app-operation></app-operation>
                <div class="btn-activity mg-t-40 center">
                    <a href="#" class="sc-button loadmore fl-button pri-3"><span>Load More</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
